.content {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "main";
    min-height: 100vh;
    padding-left: 11rem;
    position: relative;
    transition: ease-in-out padding 0.3s;
}

@media screen and (max-width: 700px) {
    .content {
        padding-left: 3rem;
    }
}
.content>main {
    box-sizing: border-box;
    grid-area: main;
    min-width: 0;
}

.bots-overview {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
}

.main-container {
    height: 100%;
    overflow: auto;
    padding: 1em;
}

.overview__title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

i .overview__title {
    font-weight: 700;
}